
.about-container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  font-size: 2.8rem;
  color: gold;
}

.about-header p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 10px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.about-image {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  
}

.about-text {
  flex: 2;
  min-width: 300px;
}

.about-text h2 {
  font-size: 2rem;
  color: brown;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  color: #444;
  font-size: 1.05rem;
}

.about-text ul {
  list-style: disc inside;
  margin-top: 10px;
}

.about-text ul li {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text h2 {
    text-align: center;
  }
}
